body {
  width: 100%;
  margin: auto;
}

p {
  padding: 0;
  margin: 0;
}

.content {
  width: 80%;
  margin: auto;
}

.btn-outline-success {
  color: #ff6b17;
  border-color: #ff6b17;
}

.btn-outline-success:hover {
  background-color: #ff6b17;
  border-color: #ff6b17;
}

.topbar {
  height: 75px;
  display: flex;
  justify-content: end;
  align-content: center;
  flex-wrap: wrap;
}
.topbar .btn-primary {
  width: 203px;
  height: 36px;
  background-color: #FF6B17;
  border-color: #FF6B17;
  display: flex;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
}
.topbar .btn-primary:hover {
  background-color: #FFFFFF;
  color: #FF6B17;
  border-color: #FF6B17;
}
.topbar .btn-primary:hover .order {
  fill: #FF6B17;
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 36px;
  background-color: #f2f3f5;
  border-radius: 50px;
  border-color: #FFFFFF;
}
.btn-secondary a {
  padding-right: 7px;
}
.btn-secondary a img {
  display: block;
}
.btn-secondary .bookmark_circle {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF6B17;
  border-radius: 50px;
}

.btn-secondary:hover {
  background-color: #ffffff;
}

.welcome {
  width: 100%;
}
.welcome .welcome__img img {
  display: block;
  height: auto;
  width: 100%;
}

.catalog .nav-tabs > li {
  float: none;
  display: inline-block;
  zoom: 1;
}
.catalog .nav-tabs {
  text-align: center;
  display: block;
}

.catalogConteiner {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.catalogConteiner .item {
  height: auto;
  width: 310px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 30px;
}
.catalogConteiner .item .item__img {
  display: block;
  border-radius: 20px;
  height: auto;
  width: 100%;
}
.catalogConteiner .item .item__description {
  padding-left: 16px;
  padding-top: 30px;
  padding-right: 16px;
  padding-bottom: 65px;
  max-height: 88px;
}
.catalogConteiner .item .item__description .item__title {
  font-family: "Inter-Semibold";
  font-size: 18px;
  color: black;
}
.catalogConteiner .item .item__description .item__subtitle {
  font-family: "Inter-Regular";
  font-size: 14px;
  color: #0E254B;
  opacity: 60%;
}
.catalogConteiner .item .item__price {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalogConteiner .item .item__price .item__priceFont {
  font-family: "Inter-Bold";
  font-size: 22px;
  color: #3485FF;
}
.catalogConteiner .item .item__price .item__button .cart__price {
  width: 72px;
  height: 24px;
  border-radius: 22px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 65vw;
  margin: auto;
}
.carousel .item img {
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

.email-test {
  width: 70%;
}

.superfooter {
  background-color: #4F4F4F;
}
.superfooter .superfooter__cont ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.superfooter .superfooter__cont ul li {
  color: white;
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 730px) {
  .topbar {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topbar .btn-primary {
    width: auto;
  }
}
@media (max-width: 453px) {
  .welcome {
    display: none;
  }
  .accordion-body .catalogConteiner .item {
    margin: 0;
  }
  .accordion-body .catalogConteiner .item .item__description .item__subtitle {
    display: none;
  }
}